{% extends "default.html" %}

{% block title %}
<title>{{"SITE_NAME" | app_config}} Rules</title>
<meta name="description" content="Content Guidelines and Rules for Dank Christian">
{% endblock %}

{% block content %}
<div class="card-blank rounded">
    <h1 class="px-6 py-3">Dank Christian Rules</h1>
    <ul class="px-6 py-3"> 
        <li>
            <h5> No Sexually explicit or suggestive posts. This includes fictitious content. Breaking this rule will result in an instant ban. 
            </h5>
        </li>
        <li>
            <h5>Links to potentially graphic or upsetting images related to the persecution of the Church are allowed but must be marked as NSFW. Posting gore for the sake of gore is not allowed.
            </h5>
        </li>    
        <li>
            <h5>No Blasphemous posts or content. Everyone is welcome here regardless of your beliefs (or lack thereof), however we ask that you are respectful and refrain from posting content that would be considered blasphemous.
            </h5>
            <ul>
                <li><p> This includes but is not limited to, memes depicting Jesus or God in a disrespectful way, taking the Lord's name in vain, photoshopping Holy Icons, and mocking the Theotokos</p>
                </li>
            </ul>
        </li>
        <li>
            <h5>Excessive post or comment spamming is not allowed, doing so will result in potential strikes, and the spam in question being removed.
            </h5>
        </li>
        <li>
            <h5>Self Promotion is allowed, however you must clearly indicate in the post or title of your post that it is self promotion. Excessive posting of self promotion will be treated the same as spamming, which can result in strikes and the content being removed.
            </h5>
            <ul>
                <li><p>To avoid self promotion spam, you must contribute more to the community than simply spamming links to your own content.</p>
                </li>
            </ul>
        </li>
        <li>
            <h5>Dank Christian is a place for civil discussion, and as such you may not: 
            </h5>
            <ul>
                <li><p>Use racial slurs in posts, comments, private messages, or usernames.</p></li>
                <li><p>Harrass other users</p></li>
                <li><p>Advocate for violence against any person, or group of people in real life</p></li>
                <li><p>Evade a user's block by making an alternate account to harrass them.</p></li>
            </ul>
            <h5>Admins reserve the right to reflair you if we deem your flair inaccurate or purpously misleading. 
            </h5>
        </li>
    </ul>
    <h1 class="px-6 py-3">Dank Christian Content Policy</h1>
    <ul class="px-6 py-3">
        <li>
            <h3>Intellectual Property</h3>
            <p>You may not upload to, embed within, or link out from dankchristian.com:</p>
            <p class="px-6">- Copyrighted material that you are not authorized to distribute<br>
            - Anything not legal to publish within, or export from, the United States of America
            </p>
        </li>
        <li>
            <h3>Digital Safety</h3>
            <p>You may not upload to, embed within, or link out from dankchristian.com:
                Digitally malicious content, including but not limited to:
                <ul class="px-6">
                    <li>Phishing attacks</li>
                    <li>XSS attacks</li>
                    <li>URL shorteners</li>
                    <li>Anything that breaks DankChristian</li>
                </ul>
            </p>
        </li>
        <li>
            <h3>User Safety</h3>
            <p>You may not use Dank Christian to do any of the following:</p>
            <ul class="px-6">
                <li>Threaten, intimidate, or harrass other users</li>
                <li>Impersonate DankChristian staff</li>
                <li>Solicit, collect, or publish private personal information, either yours or another individual's</li>
            </ul>
        </li>
        <li>
            <h3>Sexual Content</h3>
            <p>You may not upload to, embed within, or link out from dankchristian.com:</p>
            <ul class="px-6">
                <li>Sexual or sexually suggestive material of any kind</li>
            </ul>
        </li>
        <li>
            <h3>Real Life Safety</h3>
            <p>You may not use dankchristian to incite, plan, or execute unlawful or violent activity. This includes fraud.</p>
        </li>
    </ul>
</div>

{% endblock %}